
h1{
color:rgb(32, 17, 168); font-size: 80px; 
font-family: Arial, Helvetica, sans-serif; text-align: center; margin-top: 100px;
}

body{ 
background-color: burlywood;
}
.centrar-imagen {
    text-align: center; 
}

img {
  width: 300px; 
  height: auto; 
}